ACTION=="add", DEVPATH=="/module/par" SUBSYSTEM=="module" RUN="/home/thalib/sctipts/par_add.sh"

ACTION=="remove", DEVPATH=="/module/par" SUBSYSTEM=="module" RUN="/home/thalib/sctipts/par_rem.sh"
